.link-list {
    position: fixed;
    top: 0;
    right: 50px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    
    img {
        width: 36px;
        // height: 36px;
        cursor: pointer;
    }
}